[submodule "JOIN - API"]
	path = JOIN - API
	url = https://github.com/IgnacioPinedo/JoinApi.git
[submodule "JOIN - BD"]
	path = JOIN - BD
	url = https://github.com/IgnacioPinedo/JoinDB.git
[submodule "JOIN - DIAGRAMS"]
	path = JOIN - DIAGRAMS
	url = https://github.com/IgnacioPinedo/TCC-2019-Casos-de-Uso.git
[submodule "JOIN - APP"]
	path = JOIN - APP
	url = https://gitlab.com/klougod/join-app.git
